// global
@color_hover: rgb(235,54,15);

// body
@body_bgColor: #E9E9E9;
@body_color: #292929;
@body_fFamily: 'Jura', sans-serif;
@body_fSize: 15px;

// .aside
@aside_bgColor: #0766DC;
@aside_color: #FFF;
@aside_fFamily: @body_fFamily;
@aside_fSize: 16px;
@aside_fWeight: 700;
@aside_padding: 0;
	
	// .imgAside
	@imgAside_bgImg: url('../img/backNavImgAdmin.jpg');

	// .navAdmin
		// .linkNavAdmin
		@linkNavAdmin_height: 35px;
		@linkNavAdmin_padding: 0 5px;
		@linkNavAdmin_fSize: 16px;
		@linkNavAdmin_fWeight: 600;

// .section
	
	// .topSection
	@topSection_height: 50px;
	@topSectionVPadding: 0;
	@topSectionHPadding: 0;
		// .iconTopSection
		@iconTopSection_fSize: @topSection_height * 0.5;

	// .container
	@container_padding: 5px;