Options +FollowSymlinks
RewriteEngine On
RewriteRule ^([a-zA-Z_-]{3,}/?)$ index.php?page=$1 [L]
RewriteRule ^([a-zA-Z_-]{3,})/([a-zA-Z_-]{3,})/?$ index.php?page=$1&action=$2 [L]

RewriteRule ^([a-zA-Z_-]{3,})/([a-zA-Z_-]{3,})/([a-zA-Z_-]{3,100})$ /?page=$1&action=$2&slug=$3 [L]